# 1.Unique Words In a Sentence

In [2]:
sentence=input("enter the sentence:")
words_list=sentence.split()
unique_words=set(words_list)
print("unique words count:",len(unique_words))
print("unique words:",unique_words)

enter the sentence:python is easy and python is powerful
unique words count: 5
unique words: {'and', 'is', 'easy', 'powerful', 'python'}

#2.Highest Salary from Employee Data

In [4]:
employees= {
    "Ravi":75000,
    "Anita":68000,
    "kiran":72000
}
highest_employee=max(employees,key=employees.get)
highest_salary=employees[highest_employee]
print("highest salary:",highest_employee,"-",highest_salary)

highest salary: Ravi - 75000

#3.Find Maximum and Minimum Values

In [7]:
numbers = [45, 22, 89, 10, 66]
max_value=numbers[0]
min_value=numbers[0]
for num in numbers:
    if num>max_value:
        max_value=num
    if num<min_value:
        min_value=num
print("List:",numbers)
print("Max:",max_value)
print("Min:",min_value)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

#4.Count Products Above a Price Threshold

In [8]:
prices = [450, 1200, 899, 1500, 300]
count=0
for price in prices:
  if price>1000:
    count+=1
print("Products above 1000:",count)

Products above 1000: 2

#5.Calculate Attendance Percentage

In [9]:
attendance = ["P", "P", "A", "P", "P"]
present_days=attendance.count("P")
total_days=len(attendance)
percentage=(present_days/total_days)*100
print("Attendance Percentage:",percentage)

Attendance Percentage: 80.0

#6.Remove Duplicate Phone Numbers

In [1]:
phone_numbers = [9876543210, 9123456789, 9876543210]
unique_numbers=set(phone_numbers)
print("Unique Phone Numbers:",unique_numbers)

Unique Phone Numbers: {9876543210, 9123456789}

#7.Count Character Frequency

In [8]:
char_count = {}
for ch in text:
    if ch in char_count:
        char_count[ch] += 1
    else:
        char_count[ch] = 1
print(char_count)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

#8.Convert List to Tuple

In [10]:
numbers=[10,20,30]
numbers_tuple=tuple(numbers)
print("Tuple:",numbers_tuple)

Tuple: (10, 20, 30)

#9.Check if a Key Exists in a Dictionary

In [11]:
employees={
    "John":50000,
    "Sana":60000,
    "Mike":70000
}
if "Sana" in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

#10.Calculate Average Marks

In [12]:
marks = [80, 70, 65, 75]
total=sum(marks)
average=total/len(marks)
print("Average Marks:",average)

Average Marks: 72.5